*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: #f8e5e5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
    width: 40rem;
    border: 2px solid #e0c3c3;
    padding: 1rem;
    background: white;
    text-align: center;
    border-radius: 10px;
}

.count {
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
    display: block;
}

input[type="text"] {
    display: block;
    font-size: 16px;
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    outline: none;
}

style
.container {
    text-align: center;
}

.counter-img {
    width: 50px;  
    margin: 10px 0;
}